html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #280073;

}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 50px;
    position: relative;
    padding: 35px 90px 35px 90px;
    background-color: transparent
}

nav > a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', serif;
    font-weight: 100;
    color: white;
}

nav > a:hover {
    color: #F1FF00;
    transform: scale(1.08);
}

.homepage {
    height: calc(100vh - 35px);
    display: flex;
    padding: 0px 0px 0px 90px;
}

.headline {
  margin-top: 6px;  
}

.homepage p {
    font-family: 'Be Vietnam Pro', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    margin-top: -60px;
    width: 700px;
}

.gekko-title {
    font-family: 'Bebas Neue', serif;
    font-size: 300px;
    font-weight: 400;
    color: #FFC700;
}

.gekko-image {
    width: auto;
    height: auto;
}

.gekko-image img {
    width: 100%;
    height: 130%;
    position: relative;
    z-index: 1;
    left: 50px;
}

.button-n-badge {
    display: flex;
    width: 100%;
    margin: 60px 30px 40px 0px;
    align-items: center;
}

.button-n-badge > button {
    width: 400px;
    height: 50px;
    background-color: #F1FF00;
    /* dihover jadi warna #FFC700 */
    border: 2px solid #FFC700;
    border-radius: 50px;
    margin-left: 40px;
    font-family: 'Barlow', serif;
    font-weight: 400;
    font-size: 20px;
    color: #280073;
}

button:hover {
    background-color: #280073;
    border: 2px solid #F1FF00;
    color: #F1FF00;
    transition: 0.3s ease-out;
}

.main-content {
    position: relative;
    z-index: 99;
}

.abilities {
    height: 85px;
    background-color: #FFC700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #280073;
    font-size: 60px;
    font-family: 'Big Shoulders Display', serif;
    font-weight: 900;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 400px);
    position: relative;
    z-index: -1;
}

.card { 
    position: relative;
    background-color: #280073;
}

.card p {
    font-family: 'Be Vietnam Pro', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5;
    text-transform: lowercase;
    margin-top: 15px;
    color: white;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    margin-top: -25px;
}

.right {
    text-align: right;
    margin: 10px 30px 10px 10px;
}

.left {
    text-align: left;
    margin: 10px 10px 10px 30px;
}

.yellow {
    background-color: #FFC700;
}
.yellow h2 {
    color: #280073;
}
.yellow h3 {
    color: black;
}
.yellow p {
    color: black;
}

h2, h3 {
    font-family: 'Bebas Neue', serif;
    font-weight: 400;
}
h2 {
    font-size: 100px;
    color: #FFC700;
}
h3 {
    font-size: 30px;
    color: white;
}

footer {
    width: 100%;
    background-color: #280073;
}

.closing {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.closing h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.closing p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
}

.social {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.copyright {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FFC700;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', serif;
    font-weight: 200;
    font-size: 17px;
}



@media (max-width: 600px) {
    nav {
        width: auto;
        justify-content: center;
        padding: 20px;
        margin-top: 10px;
        gap: 20px;
    }
    nav > a {
        font-size: 12px;
    }
    .homepage {
        padding: 20px;
        display: block;
    }
    
    .gekko-title {
        font-size: 150px;
        margin-top: 80px;
    }
    .homepage p {
        font-size: 12px;
        width: auto;
        margin: -35px 0 0 0;
    }
    .button-n-badge {
        margin: 30px 10px 10px 0;
    }
    .button-n-badge > img {
        width: 40px;
    }
    .button-n-badge > button {
        height: 30px;
        width: 178px;
        font-size: 10px;
        margin-left: 10px;
    }
    .gekko-image img {
        width: 317px;
        bottom: 420px;
        left: 130px;
        z-index: -1;
        opacity: 0.4;
    }
    .main-content {
        margin-top: -150px;
        background-color: #280073;
    }
    .abilities {
        height: 40px;
        font-size: 25px;
        margin-bottom: 50px;
    }
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 210px);
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .card h2 {
        font-size: 30px;
        text-align: center;
        color: #FFC700;
    }
    .card h3 {
        font-size: 12px;
        text-align: center;
        color: white;
        margin-top: 0;
    }
    .card p {
        font-size: 12px;
        color: white;
        width: 100vw;
        justify-self: flex-start;
    }
    .card img {
        width: 90%;
        border-radius: 20px;
    }
    .right, .left {
        margin: 0;
        text-align: center;
    }
    .wingman {
       order: 0; 
    }
    #wingman {
        order: 1;
    }
    .dizzy {
        order: 2;
    }
    #dizzy {
        order: 3;
    }
    .mosh {
        order: 4;
    }
    #mosh {
        order: 5;
    }
    .thrash {
        order: 6;
    }
    #thrash {
        order: 7;
    }
    #wingman, #dizzy, #moshpit, #thrash {
        background-color: #280073;
        
    }
    footer {
        background-color: #FFC700;
    }
    .closing {
        width: auto;
        text-align: center;
        height: 288px;
        margin: 20px;
    }
    .closing > h2 {
        color: #280073;
        font-size: 25px;
    }
    .closing > p {
        color: black;
        font-size: 10px;
    }
    .social {
        margin-top: 20px;
    }
    .social > img {
        width: 25px;
    }
    .copyright {
        font-size: 8px;
    }
  }